Package: com.dao.kayoko
Name: Kayoko 中文版(rootless)
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader, com.opa334.libsandy
Version: 2.0.2.1
Architecture: iphoneos-arm
Description: 剪切板插件，直接替代听写键。基于原作者重构的2.0源码制作，和之前1.x版稍微有点小变化，只是微改(完善中文翻译，调低了剪切板高度，iOS15替换了听写键图标，去除无用的翻译)，基本保持了原滋原味。
Maintainer: zp & 妖刀
Author: Alexandra Aurora Göttlicher
Section: 嗨-工具
Conflicts: dev.traurige.kayoko, codes.aurora.kayoko, com.skypain.kayoko, com.hk.kayoko.cn.rl, com.hk.kayoko.cn, com.daodao.kayoko, com.daodao.82.kayoko, com.hk.traurige.kayoko, com.hk.kayoko, xyz.cypwn.kayoko, zp.codes.aurora.kayoko
